# contain the .ipynb files that are made from the .py versions in the notebook_scripts folder. This folder is in the .gitignore file, as all .ipynb files are not tracked in this repo.
#
# Ignore everything in this directory
*
# Except this file
!.gitignore